<!--<ul>
	<ng-template ngFor let-item [ngForOf]="arrFruit" let-i="index">
		<li>{{item}}</li>
	</ng-template>
	<li *ngFor="let fruit of arrFruit; let i = index">
		{{fruit}}
	</li>
</ul>

<table class="table">
	<tr>
		<th>STT</th>
		<th>Tên</th>
		<th>Giá</th>
		<th>Sale</th>
		<th>Ngày giảm giá</th>
	</tr>
	<tr *ngFor="let fruit of objFruit; let i = index">
		<td>{{ i + 1 }}</td>
		<td>{{ fruit.name | uppercase }}</td>
		<td>
			<span [ngClass]="{ 'so-am': fruit.price < 0 }">{{ fruit.price | currency:'₫' }}</span>
		</td>
		<td>
			<span *ngIf="fruit.sale">{{fruit.sale | onSale | uppercase}}</span>
		</td>
		<td>
			<span>{{ fruit.date | date:'d/M/Y'}}</span>
		</td>
	</tr>
</table>-->

<select class="form-control" name="" id="">
	<option value="">Chọn Tỉnh/Thành</option>
	<option *ngFor="let city of objCities; let i = index" value="{{i}}">
		{{city.name}}
	</option>
</select>

<div class="alert bg-success">31513531</div>