<p>about works!</p>

<h2>Pick a highlight color</h2>
<div class="d-flex align-items-center justify-content-center">
  <input type="radio" name="colors" class="mx-1" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" class="mx-1" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" class="mx-1" (click)="color='cyan'">Cyan
</div>

<p [appHighLight]="color">Hi, Tôi đang học Angular12</p>

<h5>
  Counter = <span class="text-danger">{{counter}}</span>
</h5>
<h5>
  Bình Phương = <span class="text-danger">{{counterBinhPhuong}}</span>
</h5>
